@media screen and (max-width: 1400px) {
   .count-down {
      left: 40%;
   }

   .num {
      font-size: 3.5rem;
   }

   .buttons {
      margin-bottom: 5rem;
      margin-left: 10rem;
   }

   .btn-img {
      width: 300px;
      margin-bottom: -10%;
   }

   .timeline {
      margin-top: 4rem;
      width: 500px;
   }
}

@media screen and (max-width: 992px) {

   .menu {
      display: none;
   }
   .menu a {
      border-radius: 0;
      padding: 1rem 0.8rem;
   }

   .menu.is-active {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0.3rem 0;
   }

   .nav-bar {
      padding: 0.8rem 1rem !important;
   }

   .nav-bar.is-active {
      padding-top: 0.2rem !important;
      padding-bottom: 0rem !important;
      background-color: rgba(0, 0, 0, 0.9) !important;
      box-shadow: none;
   }

   .hamburger {
      display: block;
   }

   .logo img {
      height: 40%;
      width: 40%;
   }

   .buttons {
      margin-left: 0;
   }

   .btn-img {
      display: none;
   }

   .home-container {
      flex-direction: column;
      align-items: center;
   }

   .count-down {
      position: relative;
      left: 0;
      margin-top: 1rem;
   }

   .timeline {
      margin-top: 100px;
      margin-bottom: 0;
      margin-left: 0;
   }

   .about-item {
      width: 75%;
   }

   .slider {
      width: 80%;
   }

   .contact-item {
      margin-left: 0rem;
      width: 85%;
      padding: 0;
   }

   .forming-container {
      flex-direction: column;
   }

   #about {
      top: -5rem;
   }
}


@media screen and (max-width: 768px) {

   .logo img {
      height: 60%;
      width: 70%;
   }

   .about-item {
      width: 80%;
   }

   .slider {
      width: fit-content;
      height: max-content;
   }

   .dots {
      display: none;
   }
   
   .slide img:first-child {
      display: none;
   }

   
   .slide img:nth-child(2) {
      display: block;
      height: 100%;
   }


   .contact-item {
      margin-left: 0rem;
      width: 100%;
      padding: 0;
   }
   
   .contact {
      padding: 2rem 1.5rem;
   }

   .social-item {
      display: flex;
      flex-wrap: wrap;
   }

   .social-item a {
      padding: 0.5rem 0;
   }

   .forming-item img {
      width: 90vw;
   }

   .forming-item {
      flex-direction: column;
   }

   .forming-info {
      width: 90%;
   }

   .forming-img-top {
      display: block;
   }

   .forming-img-bottom {
      display: none;
   }  

   .timeline {
      width: 120%;
   }
 
   .slot {
      margin: 1rem 0.7rem;
   }

   .btn-primary {
      width: max-content;
   }   

   .slide {
      object-fit: cover;
      height: 70%;
   }

   .count-down {
      margin-top: 5rem;
   }

   .location-icon::before {
      display: none;
   }
   .break {
      display: inline;
   }
}


@media screen and (max-width: 660px) {
   .contact-info {
      flex-direction: column;
   }
}

@media screen and (min-width: 992px) {
   .menu.is-active {
      background-color: transparent;
   }
   .nav-bar.is-active {
      background-color: transparent;
   }
}