:root {
   --primary-font: 'UTM Avo';
   --secondary-font: 'Raleway', sans-serif;
   --third-font: 'Cabin', sans-serif;
   --fourth-font: 'Open Sans';
   --primary-color: #1f5291;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}


/* Nav-bar */
.nav-bar {
   display: flex;
   justify-content: space-between;
   background-color:transparent;
   align-items: center;
   padding: 2rem 2.5rem;
   position: fixed;
   width: 100%;
   transition: 0.5s;
   transition-timing-function: ease;
   z-index: 100;
}

.logo img {
   width: 23vw;
   margin-left: -2rem;
}

.menu a {
   text-decoration: none;
   padding: 0.4rem 1.5rem;
   margin: 0 0.2rem;
   color: #fff;
   font-family: var(--third-font);
   border-radius: 4px;
   transition: ease-in-out 0.3s;
}

.menu a:hover {
   background-color: var(--primary-color);
}

/* @Hamburger */
.hamburger {
   display: none;
   position: relative;
   user-select: none;
   appearance: none;
   border: none;
   outline: none;
   background-color: transparent;
   cursor: pointer;
}

.hamburger span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background-color: #f2f2f2;
   border-radius: 6px;
   transform-origin: 0 0;
   transition: 0.4s;
}  

.hamburger.is-active {
   background-color: transparent;
}

.hamburger.is-active span:nth-child(1) {
   transform: translate(0px, -2px) rotate(45deg);
}
 
.hamburger.is-active span:nth-child(3) {
   transform: translate(-3px, 3px) rotate(-45deg);
}
 
.hamburger.is-active span:nth-child(2) {
   opacity: 0;
   transform: translateX(15px);
}
 
/* Home */

.slogan {
   margin-top: 10rem;
}

.home {
   background: url('GEC/img/home.jpg') rgba(0, 0, 0, 0.7) no-repeat center/cover;  
   background-blend-mode: overlay;  
   min-height: 100vh;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 2rem 0;
}

.head {
   margin-bottom: 5rem;
}

/* Count-down */
.count-down {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.timer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -2rem;
}

.slot {
   color: #fff;
   font-family: var(--primary-font);
   text-align: center;
   margin: 2rem 1rem 1rem;
}

.num {
   font-size: 4rem;
   text-align: center;
   border-radius: 20%;
}


/* About */
.about {
   min-height: 70vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 4rem 0 1rem 0;
}

.desc {
   font-family: var(--fourth-font);
   line-height: 1.8;
   font-size: 1.1rem;
   font-weight: 200;
}

.fa-hand-pointer {
   transform: rotate(90deg);
}

@keyframes appear {
   from {
      opacity: 0;
      transform: scale(80%);
   } to {
      opacity: 1;
      transform: scale(100%);
   }
}

.about-item {
   width: 45%;
   margin-bottom: 3rem;
   animation: appear linear 0.4s; 
}

.about-item .line {
   margin-top: 0.5rem;
   margin-bottom: 2rem;
}

/* Event */ 
.event {
   min-height: 70vh;
   background-color: #f1f1f1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 3rem;
   padding-bottom: 6rem;
   /* margin-bottom: 3rem; */
}

.event-title .line {
   margin: 0.5rem auto 3rem;
}

.event-title {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: appear linear 0.6s; 
}

.slider {
   height: 80vh;
   width: 68vw;
   margin-top: 1rem;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   position: relative;
   margin: auto;
   animation: appear linear 0.6s; 
   /* max-width: 1000px; */
}
 
 /* Hide the images by default */
.slide {
   display: none;
 }
.slide img {
   width: 100%;
   height: 80vh;
   object-fit: cover;
}

.slider .overlay {
   top: 0;
   position: absolute;
   height: 80vh;
   width: 100%;
   background: rgba(0, 0, 0, 0.6);
   z-index: 1;
}

/* Forming */

.forming .line {
   margin-top: 0.5rem;
   margin-bottom: 3rem;
}

.forming {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 3rem;
}

.forming-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column  ;
}

.forming-item {
   margin: 1rem;
   position: relative;
   display: flex;
   width: 100%;
}

.forming-item p {
   text-align: left; 
   line-height: 1.5;
   margin-bottom: 1rem;
   font-family: var(--fourth-font);
}

/* 370 * 420 */
.forming-item img {
  width: 370px;
  height: 420px;
  object-fit: cover;
}

.forming-info {
   width: 60%;   
   display: flex;
   flex-direction: column;
   font-family: var(--secondary-font);
   animation: growth linear 0.3s;
   margin: 1rem 2rem;
   /* background-color: #f1f1f1; */
}

/* Overlay-info */
@keyframes growth {
   from {
      opacity: 0;
      transform: scale(50%);
   } to {
      opacity: 1;
      transform: scale(100%);
   }
}





/* Contact */

.contact {
   height: fit-content;
   background-color: #f1f1f1;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem 2rem;
}

.contact-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: max-content;
}

.contact-item {
   width: 70%;
}

.contact-item p {
   line-height: 1.8;
}

.sub-contact {
   display: flex;
   margin-top: 1rem;
   /* width: 100%; */
}

.sub-contact-item:first-child {
   margin-right: 5rem;
}

.sub-contact-item a {
   margin: 0rem 0.5rem;
   color: #000;
   text-decoration: none;
}

.sub-contact-item a:hover {
   color: var(--primary-color);
}

#about, #forming, #contact, #event {
   position: relative;
   top: -4.8rem;
}

/* Footer */

footer {
   height: 5vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   
}
footer a {
   text-decoration: none;
   color: var(--primary-color);
}

footer a:hover {
   text-decoration: underline;
}
